<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">      
      <a
        class="navbar-brand  text-uppercase fw-bold"
        href="{% url 'index' %}"
        >Frontendfunn</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#topNavBar"
        aria-controls="topNavBar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="topNavBar"> 
               
        
        
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link">About</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Contact Us</a></li>
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle ms-2"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-person-fill"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end text-center">
              <li><a class="dropdown-item " href="#">Dashboard</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              </li>
            </ul>
          </li>
          {% else %}
          <li class="nav-item"><a href="{% url 'register' %}" class="nav-link" >Register</a></li>
          <li class="nav-item"><a href="{% url 'login' %}" class="nav-link" >Login</a></li>
          {% endif %}
        </ul>
        
      </div>
    </div>
  </nav>
<!-- top navigation bar -->










