{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Dashboard - Add order {% endblock %}

{% block content %}
<main class="mt-5 pt-3">
    <div class="container-fluid">
        <div class="row mt-5 justify-content-center">
            <div class="mt-5 col-md-8 ">
                {% for message in messages%}
                {% if message %}
                <div class="alert alert-danger">
                    {{message}}
                </div>
                {% endif %}
                {%endfor%}
                <div class="border bg-white p-3">
                    <h3>Edit order Page</h3>
                    <hr>
                    <form method="post">
                        {% csrf_token %}
                        {{order_form|crispy}}   
                        
                    
                        <input class="btn btn-outline-success btn-block mt-3" type="submit" value="Submit ">

                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}