{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Dashboard {% endblock %}

{% block content %}
<main class="mt-5 pt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>Dashboard</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="table table-striped data-table" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Order N°</th>
                                        <th>Product</th>
                                        <th>Ordred items</th>
                                        <th>Vendeur</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in created_orders %}
                                    <tr class="align-middle">
                                        <td>{{order.id}}</td>
                                        <td>
                                            <ul style="list-style:none">
                                                {% for product in order.product.all %}
                                                <li>{{product}}</li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td>
                                            <ul style="list-style:none">
                                                {% for orderitem in order.orderitems_set.all %}
                                                <li>{{orderitem.quantity}}</li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td > {{order.vendeur}}</td>
                                        <td> {{order.status}} </td>
                                        <td>    
                                            
                                            <a href="{% url 'order-pickup' order.id %} " class="btn btn-primary m-3">PickUP</a> 
                                        </td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}

<buttton  class="btn btn-primary" onclick="hideButton(this)"> Assign</buttton>
                                            <form class="pickup-form " method="post">
                                                {% csrf_token %}
                                                {{form|crispy}}
                                                <button class="btn btn-primary"  type="submit">GO</button>
                                                
                                            </form>